/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html{
   /*background-image: url(http://www.taanmantraining.nl/wp-content/uploads/taanman_training_BG_grey_1920x1080_bg.jpg)*/ 
    Background-color: #c7c8c9; 
    
    
/*-color: RGB(51, 26, 37); */
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
    width: 100%;
}
ol, ul {
	list-style: none;  
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

material-icons {
    background: aliceblue;
}
.box {
    border-radius: 5px;
    text-align: center;
    font-family: "Dosis";
    color: RGB(36, 34, 31); 
    
}

/* Dropdown Button */
.dropbtn {
    background-color: #1c4f3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Dosis";
    color: #c7c8c9;
    height: 6vh;
    width: 6vw;
    border-radius: 5px;
    margin-left: -12vw;
    margin-top: 2vh;
    text-align: center;
    
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 6vw;
    height: 6vh;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 8vw;
    height: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1; */
    margin-left: -12vw;
    border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1c4f3f; color: #c7c8c9;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    
}

header {
    height:10vh;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 2px;
    background-color: #c7c8c9;
    font-size: 8vh;
    font-size-adjust: auto;
    
    
}

/* Menu Style */
ul.topnav {
    display: inline-block;
    font-size: 30px;
    font-family: monospace;
    list-style-type: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
    height: 200px;
    width: 250px;
   
    
}

img {
    display: inline-block;
    vertical-align: top;
    height: 50vh;
    /*margin: 0 auto;
    margin-left: 10vw; */
    width: 36vw;
   /* float: left; */
    border-radius: 5px;
}

/*ul.topnav li {float: left;} */
/*
ul.topnav li a {
    display: inline-block;
    color: #c7c8c9;
    text-align: center;
    padding: 14px 59.6px;
    text-decoration: none;
    transition: 0.7s;
    font-size: 17px;
    height: 38px;
    width: 130px; 
   
} */

/* Menu Hover Color */
ul.topnav li a:hover {background-color: #555f70;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

div {
    width: 70vw;
    margin: 0 auto;
    height: 100vh;
    
}
/*
#wrapper {
   /* width: 800px; 
    margin: 0 auto; 
    width: 70vw;
    height: 100vh;
    
}
 */

/* Des Com Studies */
section {
    display: inline-block;
    vertical-align: top;
    height: 50vh;
    margin: 0 auto;
    margin-left: 3vw;
    background-color: #c7c8c9; 
    width: 31vw;
    font-size: 4.5vh;
   /* font-size-adjust: auto; */
    float: right;
}

.education {
    vertical-align: top;
    height: 28vh;
    margin: 0 auto;
    margin-left: 3vw;
    background-color: #c7c8c9; 
    width: 50vw;
    font-size: 4vh;
    text-align: left;
    font-family: "Dosis";
    float: left;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
   
}

.column {
  float: left;
  width: 15%;
    
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: blueviolet;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/*
article {
    background-color: black;
    height: 100px;
    width: 170px;
    margin: 0 auto;
    margin-top: 15%;
    border: dotted;
    border-width: medium;
    border-color: aliceblue;
    font-size: 25px;
}

*/


}
 

/* Spectral G 
aside {
    background-color: black;
    height: 200px;
    display: inline-block; 
    margin: 0 auto;
    margin-top: 20px;
    vertical-align: top;
        width: 240px; 
    font-size: 25px;
} */

/* Spectral M Style 
section1 {
    height: 200px;
        width: 240px;
    margin-right: auto; 
    display: inline-block;
    background-color: black;
    Margin-top: 20px;
    vertical-align: top;
    margin-left: 27px;
    font-size: 25px;
} */

<html>
<head>
<style>



div.desc {
    padding: 15px;
  text-align: center;
}

.page {
  float: right;
  width: 100vw;
  height: 100vh;
}






.two {
  background: #c7c8c9;
  width: 100%;
  
}

.three {
  background: #c7c8c9;
  width: 100%;
}

.four {
  background: #c7c8c9;
    width: 100%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 5px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


